$dark-primary: rgb(61, 61, 61);
$dark-background: rgb(41, 41, 41);
$dark-default: rgb(78, 78, 78);
$dark-danger: rgb(156, 43, 35);
$dark-text: rgb(244, 244, 244);
//dark info, warning i success pozostają bez zmian

$light-background: rgb(244, 244, 244);
$light-primary: rgb(217, 217, 217);
$light-default: rgb(195, 195, 195);
$light-info: rgb(94, 200, 248);
$light-success: rgb(121, 195, 124);
$light-warning: rgb(251, 203, 83);
$light-danger: rgb(245, 104, 94);
$light-text: rgb(51, 51, 51);
