
@import '../sass/urd-colors';

body{
    font-size: 18px;
    background-color: $light-background;
   
}

.navbar .navbar-nav > li > a {
    font-size:1.6rem;
    font-weight: 700;
}

li{
    color:$dark-primary;
}

.navbar-header{
    a{
        text-decoration: none;
        
       
    }
}

h2{
    font-size: 6rem;
    font-weight: 700;
}

.first-section-box-left {
    background-image: url(../img/florian-klauer-489_resize.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.first-section-box-right {
    height: 100vh;
    
}

.box-right-huge-text {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 30%;
    
}

.make-it {
    font-weight: 300;
}

.yours-text {
    font-weight:900;
}

.container {
    width: 95%;
}

.jumbotron {
    margin-top: 20px;
    height: 100%;
}

.image-section-2 {
    background-image: url(../img/desk-828962_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    
    
}

.section-idea-1 {
    height: 100%;
    
    
    p:last-child{
        font-weight: 500;
    }
}

.section-idea-2 {
    height:100%;
}



.reshape-button {
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-size: 25px !important;
    width: 250px;
    
    
    
    
}

.footer-bold-here {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.brand {
    width:100px;
    float:left;
    margin-top: 15px !important;
    font-size: 20px;
    vertical-align: middle;
    p{
        color:$dark-primary;
        font-weight: 700;    }
   
}



.modal-footer {
   margin: 20px;
    
}

.title-subtext {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.idea-header{
    position: relative;
    
    &::after{
    content:"";
    width: 150px;
    height: 3px;
    background-color: $dark-primary;
        z-index: 1000;
        position: absolute;
        margin-top: -15px;
        margin-left: 3px;
        margin-top: -20px;
    }
    
}

.contact-header{
    position: relative;
    &::after{
        content:"";
        width:240px;
        height: 3px;
        background-color: $dark-primary;
        z-index: 1000;
        position:absolute;
        margin-top: -15px;
        margin-left:3px;
        margin-top: -20px;
        
    }
}


.footer-us {
    margin-top: 50px;
}



.main-raised {
    margin-top: 20px;
    margin-bottom: 40px;
}

.idea-menu {
    
}

.icon-github:before {
  content: "\eab0";
    font-size: 80px;
   
    
    
    
   
    
    
    
    
}

.footer-section-2 {
    border:1px solid black;
    
}

.section-2 {
    position: relative;
}

.jumbotron-footer {
    padding-right: 0px !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section-idea-text {
    
    padding-right: 0px;
}

.about-header {
    position: relative;
    
    &::after{
    content:"";
    width: 280px;
    height: 3px;
    background-color: $dark-primary;
        z-index: 1000;
        position: absolute;
        margin-top: -15px;
        margin-left: 3px;
        margin-top: -20px;
    }
}

.header-about-row {
    margin-bottom: 20px;
}

.section-about-1 {
    p:first-child{
        font-weight: 500;
        font-size: 3rem;
    }
}

.section-about-2 {
    p:first-child{
        font-weight: 500;
        font-size: 3rem;
    }
}


